.root {
    -fx-background-color: #FFF;
    -fx-font-family: "Segoe UI";
}
.button {
    -fx-background-color: #CCC;
    -fx-text-fill: white;
}
.text-field {
    -fx-background-color: #AAA;
    -fx-text-fill: white;
}
.label {
    -fx-text-fill: #999999;
}